.header {
    height: 34vw;
    margin-top: 100px; /* Increased top margin to account for navbar height */
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    background: url('/header_img.jpg') no-repeat center center;
    background-size: cover; 
    position: relative;
    width: 100%; 
    max-width: 100%; 
    border-radius: 15px;
    overflow: hidden;
}
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(62, 58, 58, 0.5); 
    z-index: 1; 
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 2s;
    z-index: 2; 
}
.header-contents h2{
    font-weight: 500;
    color: white;
    font-size: max(4vw, 22px);
}
.header-contents p{
    color: white;
    font-size: 1vw;
}
.create-reservation-btn{
    border: none;
    color: #ffffff;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: #4CAF50;;  
    font-size: max(1vw,13px);
    border-radius: 50px;
    align-self: flex-start;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.create-reservation-btn:hover {
    background-color: #45a049;
}

.create-reservation-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.5);
}


/* Medium screens (up to 1050px) */
@media (max-width: 1050px) {
    .header-contents{
        max-width: 45%;
    }
    .header-contents h2 {
        font-size: max(3.5vw, 20px);
    }
}

/* Small screens (up to 750px) */
@media (max-width: 750px) {
    .header-contents{
        max-width: 55%;
    }
    .header-contents p {
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
    .header-contents h2 {
        font-size: max(6vw, 18px);
    }
}

/* Extra small screens (up to 480px) */
@media (max-width: 480px) {
    .header {
        height: 50vw; /* Increase height for better visibility */
    }
    .header-contents {
        max-width: 70%;
        left: 4vw;
        bottom: 8%;
    }
    .header-contents h2 {
        font-size: max(7vw, 16px);
    }
    .create-reservation-btn {
        padding: 3vw 5vw;
        font-size: max(2vw, 12px);
    }
}
